<!DOCTYPE html>
<html>
<head>
    <title>비밀번호 초기화</title>
</head>
<body>
<p><%= username %>님, 안녕하세요.</p>
<p>계정 잠금이 해제되었으며, 비밀번호가 초기화되었습니다.</p>
<p>새로운 임시 비밀번호는 <strong><%= password %></strong> 입니다.</p>
<p>보안을 위해, 이 임시 비밀번호로 로그인하신 후 즉시 비밀번호를 변경해주시기 바랍니다.</p>
</body>
</html>