<!DOCTYPE html>
<html>
<head>
    <title>계정 잠금 해제 인증</title>
</head>
<body>
<p><%= username %>님. 안녕하세요.</p>
<p>계정 잠금을 해제하기 위한 인증 코드는 <strong><%= code %></strong>입니다.</p>
<p>이 코드는 5분 후에 만료됩니다.</p>
</body>
</html>